/*-------------------------------estilos imágenes-----------------------------*/
$white: #fefefe;
$gray: rgba(34, 25, 25, 0.4);
$gray2: #333;

$font_0: Arial;
$font_1: sans-serif;

.user-icon{
	right: 30%;
}
.menu-nav{
	right: 25%;
}
#wrapper {
	width: 100%;
	max-width: 1200px;
	min-width: 100px;
	margin: 0;
	padding-bottom: 10px;
}

#columns {
	column-count: 1;
	column-gap: 4px;
	column-fill: auto;
	&:hover .pin:not(:hover) {
		opacity: 0.5;
	}
}

.pin {
	.img-pinterest{
	 	border-radius: 9%;
	 	height: 250px;
	 	margin: 0 auto;
	 }
	display: inline-block;
	width: auto;
	background: $white;
	border: 2px solid $white;
	box-shadow: 0 2px 3px $gray;
	margin: 0 2px 15px;
	column-break-inside: avoid;
	padding: 15px 12px 20px 12px;
	opacity: 1;
	transition: all .1s ease;

	p{
		display:inline-block;
	}
	
}

p {
	font: 12px/18px $font_0, $font_1;
	color: $gray2;
	margin: 0;
}

@media(min-width: 960px) {
	#columns {
		
		column-count: 3;
	}
}
@media(min-width: 1100px) {
	#columns {
		
		column-count: 5;

	}
}

// Font
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:700);

// estilos botones
$btn-color: #CB333B;
$btn-color2: #BAC5B9; 

$global-radius: 8px;

.navbar-form .form-control {
	width: 700px;
}
// Button Group Mixin
@mixin button-group(
  $background-color: $btn-color2,
  $background-hover-color: white,
  $border-width: 2px,
  $border-color: #3E2B2E,
  $border-radius: $global-radius,
  $color: $border-color,
  $color-hover: $border-color,
  $darken: 20%,
  $icon-margin: 3px,
  $inner-button-class: 'btn-inner',
  $max-width: 40em,
  $padding: 12px 20px ) {
    
  display: table;
  width: 100%;
  table-layout: fixed;

  .flexbox & {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
  }
  .#{$inner-button-class} {
    display: table-cell;
    position: relative;
    margin-left: -2px;

    border: $border-width solid $border-color;
    color: $color;
    padding: $padding;
    font-size: 0.9rem;
    position: relative;
    text-align: center;
    transition: all 0.1s ease-in;
    vertical-align: middle;
    border-radius: 8px;
    z-index: 0;
    
    .flexbox & {
      flex: 1 1 0;
      display: inline-block;
    }
    
    @content;
    
    // Negate added borders
    + .#{$inner-button-class} {
      margin-left: -$border-width;
    } 
    
  

    // Create the hover effect.
    &:hover {
      background: $background-hover-color;
      border-color: $background-hover-color;
      color: $color-hover;
      cursor: pointer;
      z-index: 1;
    }
  }
  
  // This breakpoint is random for Codepen, so you may need to update it.
  @media screen and (max-width: 34.75em) {
    .flexbox & {
      flex-direction: column;
    }

    .#{$inner-button-class} {
      border-bottom: 0;
      .flexbox & {
        flex: auto;
      }
      &:first-child {
        border-radius: $border-radius $border-radius 0 0;
      }

      &:last-child {
        border-radius: 0 0 $border-radius $border-radius;
        border-bottom: $border-width solid $border-color;
      }
    }
  }
}

// Use the mixin above like so:
.btn-group {  
  @include button-group( 
    $background-hover-color: $btn-color,  
    $color: #332F21, 
    $color-hover: white
  );
}


// Extra Styling
body {
  font-family: 'Noto Sans', sans-serif;
}

